<%if(success_msg !=''){ %>
  <div class="alert alert-success"><%=success_msg%></div>
<%}if(error_msg !=''){%>
  <div class="alert alert-danger"><%=error_msg%></div>
<%}if(error!=''){%>
  <div class="alert alert-danger">
      <%error.forEach(error=>{ 
      if(error.msg=='')%>
      <%=error%>
      <%=error.msg%><br>
    <%});%>
  </div>
<%}%>
<br>