<% include ../partials/head %>
<% include ../partials/messages %>

<div class="col-sm-6 mx-auto">
<div class="card">
<h2 class="card-header">Login </h2>
  <div class="card-body">
    <h3 class="card-title">
  <form class="form" action="/users/login" method="post">   
  <input type="email" name="email" class="form-control" placeholder="Email ID" required autofocus><br>
  <input type="password" name="password" class="form-control" placeholder="Password" required autofocus><br>
  <button class="btn btn-primary" type="submit">Submit</button>
  </form>
    </h3>
    <p class="card-text">Don't have an account? <a href="/users/register">Register</a></p>
  </div>
</div>
</div>
<% include ../partials/footer %>