 <% include ../partials/head %>

 <div class="fluid-container">
    <div class="container">
      <div class ="jumbotron header mt-4">
          <h2 class="display-4">Welcome to Purpose Principles!!</h2>
          <h4 class="lead">An app to mange your Purpose Principles</h4>
          <hr class="my-4">
  <a href="/about" class="btn btn-secondary" title="About">About</a>
  <a href="/users/register" class="btn btn-secondary" title="Register">Register</a>
  <a href="/users/login" class="btn btn-secondary" title="Login">Login</a>
      </div>

   <% include ../partials/footer %>

