<% include ../partials/head %>

<div class="col-sm-6 mx-auto">
<div class="card">
<h2 class="card-header">Register </h2>
  <div class="card-body">
    <h3 class="card-title">
  <form class="form" action="/users/register" method="post">   
  <input type="text" name="name" class="form-control" placeholder="Name" required autofocus><br>
  <input type="email" name="email" class="form-control" placeholder="Email ID" required autofocus><br>
  <input type="password" name="password" class="form-control" placeholder="Password" required autofocus>
  <h6><p class="card-text">Password shoud be 5-20 characters long.</p></h6>
  <input type="password" name="password2" class="form-control" placeholder="Confirm Password" required autofocus><br>
  <button class="btn btn-primary" type="submit">Submit</button>
  </form>
    </h3>
      <p class="card-text">By Signing up, You agree to our <a href="#">Terms of use.</a></p>
      <p class="card-text">Already have an account? Continue to <a href="/users/login">login</a></p>
  </div>
</div>
</div>
<% include ../partials/footer %>














